.container {
  display: flex;
  gap: 20px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.imageContainer {
  width: 40vw;
  overflow: hidden;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
}

.moviePreview {
  background-size: cover;
  max-height: 100%;
}
