.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;

  box-shadow: 0 2px 2px rgba(1, 1, 1, 0.4);
}

.nav {
  padding: 12px 20px;
  display: flex;
  gap: 16px;
}

.active {
  color: red;
}
.navLink {
  color: black;
}
.navLink:hover,
.navLink:focus {
  text-decoration: underline;
  color: red;
}
